<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<% if @comment %>
  <table>
    <thead>
      <tr>
        <th>Post</th>
        <th>Body</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.post_id %></td>
          <td><%= comment.body %></td>
          <td><%= comment.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There aren't any comments yet!</p>
  <p>Go to the <%= link_to 'Posts Page', posts_path %></p>
<% end %>
