<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1>Listing Posts</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Post Title</th>
          <th>By User</th>
          <th>Comments</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <%= link_to 'New Post', new_post_path %>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <% title = post.entry %>
            <td> <% if title %>
                <%= link_to title, post_path(post) %></td>
              <% end %>
            <td>
              <% if post.user %>
                <%= post.user.username %></td>
              <% end %>
              <% if post.comments %>
                <% post.comments.each do |comment| %>
                  <td><%= comment.body %></td>
                <% end %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
