<div class="container">

  <div class="row">
    <div class="col-sm-8">
    <h3><%= link_to 'Post new entry!!', new_post_path %></h3>
      <% @posts.each do |post| %>
        <% title = post.entry %>
        <% user = post.user %>
        <% username = user.username %>


        <div class="well">
          <h3 style="display: inline"><%= link_to title, post_path(post) %></h3>

          <p style="display: inline">by: <%= link_to username, user_path(user) %></p>

          <br>
          <br>

          <% first_comment = post.comments.first %>
          <!-- TODO: change this from first to best comment-->
          <p style="display: inline"><strong>First Comment:</strong></p>

          <p style="display: inline"><%= first_comment.body %></p>

          <br>
          <br>
          <%= simple_form_for [post, post.comments.build], :html => { :class => 'form-inline' } do |f| %>
            <div class="form-group">
              <label class="control-label">Comment!</label>
              <div class="form-inputs">
                <%= f.text_field :body, :class => 'form-control input' %>
                <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>

</div>
