<p id="notice"><%= notice %></p>

<h3>Post Title: <%= @post.entry %></h3>

<div>
  <h3>Current Comments:</h3>
  <ul>
    <% @comments.each do |c| %>
      <div class="comment-container">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <p><%= link_to 'UP', vote_up_post_comment_path(@post, c) %>  |  <%= link_to 'DOWN!', vote_down_post_comment_path(@post, c) %></p>

              <p class="text-muted">Votes Total: <%= c.up_vote_count - c.down_vote_count %></p>
              <p class="text-muted">Current Vote: <%= c.down_vote_count - c.down_vote_count %></p>
              <!--<p class="text-muted">Up Votes: <%#= c.votes.where(:type => 'UpVote').count %></p>-->
              <!--<p class="text-muted">Down Votes: <%#= c.votes.where(:type => 'DownVote').count %></p>-->
            </div>
            <div class="col-md-9">
              <h3><%= c.body %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<h3>Add a comment</h3>

<%= render 'shared/new_comment' %>
=======================
<%= emojify("sup :cat:") %>
<%= Emoji.find_by_alias("dog").raw %>

<% if @comments[0].down_vote.exists? %>
  <h1> down_vote? is true</h1>
<% end %>

<% if @comments[0].up_vote.exists? %>
  <h1> up_vote? is true</h1>
<% end %>

<!--make a new user without posts and check this-->
<h1>Already voted?</h1>
<%= @comments[0].already_voted? %>
