<p id="notice"><%= notice %></p>

<h3><%= @post.entry %></h3>

<%= render 'shared/new_comment' %>


<div>
  <h3>Comments:</h3>
  <ul>
    <% @comments.each do |c| %>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted">already_voted?</p>

                <% if c.votes.each {|v| v.user_id } && c.votes.count > 0  %>
                  <p>yes</p>
                <% else %>
                  <p>no</p>
                <% end %>

                <p><%= link_to 'UP', vote_up_post_comment_path(@post, c) %>  |  <%= link_to 'DOWN!', vote_down_post_comment_path(@post, c) %></p>

                <p class="text-muted">Votes Total: <%= c.up_vote_count - c.down_vote_count %></p>
                <p class="text-muted">Current Vote: <%= c.down_vote_count - c.down_vote_count %></p>



                <ul>
                  <li style="width: 200px">c.up_vote_count <%= c.up_vote_count %></li>
                  <li style="width: 200px">c.down_vote_count <%= c.down_vote_count %></li>
                  <li style="width: 200px">c.votes.count <%= c.votes.count %></li>
                </ul>

                <!--<p class="text-muted">Up Votes: <%#= c.votes.where(:type => 'UpVote').count %></p>-->
                <!--<p class="text-muted">Down Votes: <%#= c.votes.where(:type => 'DownVote').count %></p>-->
              </div>
              <div class="col-sm-9">
                <h3><%= c.body %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </ul>
</div>


=======================
<%= emojify("sup :cat:") %>
<%= Emoji.find_by_alias("dog").raw %>
