<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @post.entry %>
</p>
<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<p>
  <strong>Current Comments:</strong>
  <% @comments.each do |c| %>
    <p><%= c.body %></p>
  <% end %>
</p>

<h2>Add a comment</h2>
<%= render 'comments/new' %>

<%= link_to 'Back', posts_path %>
