<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @post.entry %>
</p>
<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<p>
  <strong>Comment fool!</strong>
  <%= render 'comments/new' %>
</p>

<p>
  <strong>Current Comments:</strong>
  <%= @comments %>
</p>
<%= link_to 'Back', posts_path %>
