<!DOCTYPE html>
<html>
<head>
  <title>EmojiLookup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/main_nav' %>
<div class="container panel panel-default" style="margin: 20px auto; padding: 40px">
  <%= yield %>
</div>
</body>
</html>
